<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  team_name     <input id="team_name" type="text" name="team[name]">
  team_motto    <input id="team_motto" type="text" name="team[motto]">
  member1 name  <input id="member1_name" type="text" name="team[members][0][name]">
  member1 power <input id="member1_power" type="text" name="team[members][0][power]">
  member1 bio   <input id="member1_bio" type="text" name="team[members][0][bio]">
  member2 name  <input id="member2_name" type="text" name="team[members][1][name]">
  member2 power <input id="member2_power" type="text" name="team[members][1][power]">
  member2 bio   <input id="member2_bio" type="text" name="team[members][1][bio]">
  member3 name  <input id="member3_name" type="text" name="team[members][2][name]">
  member3 power <input id="member3_power" type="text" name="team[members][2][power]">
  member3 bio   <input id="member3_bio" type="text" name="team[members][2][bio]">
                <input name="submit" id="submit" type="submit">
</form>
