<h1>Create a Team and Heroes!</h1>
<form method='POST' action='/teams'>
<p>Team Name:<input type=text name="team_name" id="team[name]"></p>
<p>Team Motto:<input type=text name="team_motto" id="team[motto]"></p>

<h2>Hero 1</h2>
<p>Hero's Name:<input id='member1_name' type=text name="team[members][][name]"></p>
<p>Hero's Power:<input id='member1_power' type=text name="team[members][][power]"></p>
<p>Hero's Biography:<input id='member1_bio' type=text name="team[members][][bio]"></p>

<h2>Hero 2</h2>
<p>Hero's Name:<input id='member2_name' type=text name="team[members][][name]"></p>
<p>Hero's Power:<input id='member2_power' type=text name="team[members][][power]"></p>
<p>Hero's Biography:<input id='member2_bio' type=text name="team[members][][bio]"></p>

<h2>Hero 3</h2>
<p>Hero's Name:<input id='member3_name' type=text name="team[members][][name]"></p>
<p>Hero's Power:<input id='member3_power' type=text name="team[members][][power]"></p>
<p>Hero's Biography:<input id='member3_bio' type=text name="team[members][][bio]"></p>

<button type="submit" id="submit">Submit</button>
</form>


<!--
visit '/'
fill_in("team[name]", :with => "Team Ruby")
fill_in("team[motto]", :with => "We love Ruby!")
fill_in("member1_name", :with => "Amanda")
fill_in("member1_power", :with => "Ruby")
fill_in("member1_bio", :with => "I love Ruby!")
fill_in("member2_name", :with => "Arel")
fill_in("member2_power", :with => "JavaScript")
fill_in("member2_bio", :with => "I love JavaScript!")
fill_in("member3_name", :with => "Katie")
fill_in("member3_power", :with => "Sinatra")
fill_in("member3_bio", :with => "I love Sinatra!")
click_button 'submit' -->
