<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <ul>
    <li><label>Team Name: <input type="text" name="team[name]"></label></li>
    <li><label>Team Motto: <input type="text" name="team[motto]"></label></li>
  </ul>

  <% 3.times do |num| %>
</h2>Hero <%= num + 1%></h2>
    <ul>
      <li><label>Hero's Name: <input id="member<%= num + 1%>_name" type="text" name="team[members][][name]"></label></li>
      <li><label>Hero's Power: <input id="member<%= num + 1%>_power" type="text" name="team[members][][power]"></label></li>
      <li><label>Hero's Biography: <input id="member<%= num + 1%>_bio" type="text" name="team[members][][bio]"></label></li>
    </ul>
  <% end %>
<input type="submit" value="submit">
</form>
