<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
  <input type="text" name="team[name]"/>
  <input type="text" name="team[motto]"/>
  <% (1..3).each do |i| %>
    <input id=<%= "member#{i}_name" %> type="text" name="team[members][][name]"/>
    <input id=<%= "member#{i}_power" %> type="text" name="team[members][][power]"/>
    <input id=<%= "member#{i}_bio" %> type="text" name="team[members][][bio]"/>
  <% end %>
  <button type="submit" value="submit">Submit</button>
</form>
