<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <label for=" teamname" type="text">Super Hero Team Name: </label><input id="teamname" type="text" name="team[name]">
  <label for="team_motto" type="text">Team Motto: </label><input id="team_motto" type="text" name="team[motto]">
  <label for="member1_name" type="text">Member 1 Name: </label><input id="member1_name" type="text" name="member1_name">
  <label for="member1_power" type="text">Member 1 Power: </label><input id="member1_power" type="text" name="member1_power">
  <label for="member1_bio" type="text">Member 1 Bio: </label><input id="member1_bio" type="text" name="member1_bio">
  <label for="member2_name" type="text">Member 2 Name: </label><input id="member2_name" type="text" name="member2_name">
  <label for="member2_power" type="text">Member 2 Power: </label><input id="member2_power" type="text" name="member2_power">
  <label for="member2_bio" type="text">Member 2 Bio: </label><input id="member2_bio" type="text" name="member2_bio">
  <label for="member3_name" type="text">Member 3 Name: </label><input id="member3_name" type="text" name="member3_name">
  <label for="member3_power" type="text">Member 3 Power: </label><input id="member3_power" type="text" name="member3_power">
  <label for="member3_bio" type="text">Member 3 Bio: </label><input id="member3_bio" type="text" name="member3_bio">
  <input type="submit" value="submit">
</form>
