<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form class="" action="team" method="post">
      <label for="team[name]">Team Name:</label>
      <input type="text" name="team[name]" value=""><br>

      <label for="team[motto]">Team Motto:</label>
      <input type="text" name="team[motto]" value=""><br><br><br>

      <h1>Super Heros:</h1>

      <label for="team[heros][][name]">Hero Name:</label>
      <input id="member1_name" type="text" name="team[heros][][name]" value=""><br>
      <label for="team[heros][][power]">Hero Power:</label>
      <input id="member1_power" type="text" name="team[heros][][power]" value=""><br>
      <label for="team[heros][][bio]">Hero Biography</label>
      <input id="member1_bio" type="text" name="team[heros][][bio]" value=""><br><br><br>

      <label for="team[heros][][name]">Hero Name:</label>
      <input id="member2_name" type="text" name="team[heros][][name]" value=""><br>
      <label for="team[heros][][power]">Hero Power:</label>
      <input id="member2_power" type="text" name="team[heros][][power]" value=""><br>
      <label for="team[heros][][bio]">Hero Biography</label>
      <input id="member2_bio" type="text" name="team[heros][][bio]" value=""><br><br><br>

      <label for="team[heros][][name]">Hero Name:</label>
      <input id="member3_name" type="text" name="team[heros][][name]" value=""><br>
      <label for="team[heros][][power]">Hero Power:</label>
      <input id="member3_power" type="text" name="team[heros][][power]" value=""><br>
      <label for="team[heros][][bio]">Hero Biography</label>
      <input id="member3_bio" type="text" name="team[heros][][bio]" value=""><br><br><br>

      <input type="submit" value="Submit" id="submit">
    </form>
  </body>
</html>
